# Observational study

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import plotnine
from networkx import nx
from plotnine import ggplot, aes, geom_bar
from functions import *
import spacy

In [3]:
from compare import *

In [4]:
elon_org_df = pd.read_csv('Data/org-lg-Elon Musk.csv.bz2')

## Matching :

In [5]:
data = pd.DataFrame(columns = ['Name','Date','Close','Volume','MarketCap','Popularity','Elon','compare'])

#Data is our data frame with all the companies with first column 1 or 0 if Elon Musk talks about it.
# after,Name of the company and the other four covariates 
def compare(company_quote, date, companies): 
    comp = companies.copy()
    comp.append(company_quote)
    company = compareCompanies(comp,date)
    company ['Elon']= 0
    company ['compare'] = company_quote
    company.at[4,'Elon'] = 1
    company.at[4,'compare'] = 'None'
    #company.iloc[[-1]]['Elon']=1
    #company.iloc[[-1]]['compare']= 'None'
    #controled = company[['Elon', 'Name', 'date', 'Close','Volume','MarketCap','Popularity']]
    return company
    
#Call this function for all our functions and a set of company that will represent the controled one.

In [ ]:

#Apple : 
Company_Apple =['Microsoft','IBM','Samsung','Dell'] 
quotes_Apple  = elon_org_df[elon_org_df['ORG'] == 'Apple']
#
for i in range (len(quotes_Apple)):
    date = quotes_Apple.iloc[i,:]['date'][0:10]
    company = compare('Apple',date,Company_Apple)
    frame = [data, company]
    data = pd.concat(frame)

In [ ]:
data.to_csv('Data/ObservationalDat.csv.bz2' , index=False)

In [19]:
data = pd.read_csv('Data/ObservationalDat.csv.bz2')
data

,Name,Date,Close,Volume,MarketCap,Popularity,Elon,compare
0,Microsoft,2015-10-09,42.505257,28600632.0,3.201313e+11,29,0,Apple
1,IBM,2015-10-09,114.527473,3531007.0,1.023329e+11,3,0,Apple
2,Samsung,2015-10-09,252.717194,9900000.0,1.508666e+12,100,0,Apple
3,Dell,2015-10-09,42.173302,0.0,1.170680e+10,15,0,Apple
4,Apple,2015-10-09,109.025017,52766140.0,1.819366e+12,54,1,None
...,...,...,...,...,...,...,...,...
465,Microsoft,2020-03-12,137.343933,93226400.0,1.034415e+12,36,0,Apple
466,IBM,2020-03-12,89.527725,13088284.0,7.999508e+10,3,0,Apple
467,Samsung,2020-03-12,49950.000000,59462933.0,2.981905e+14,100,0,Apple
468,Dell,2020-03-12,16.594019,13329588.0,4.606301e+09,16,0,Apple
469,Apple,2020-03-12,61.475739,418474000.0,1.025883e+12,61,1,None

In [20]:
#Tesla : 
Company_Tesla = ['Toyota','BMW','VolksWagen','General Motors']
quotes_Tesla = elon_org_df[elon_org_df['ORG']== 'Tesla']
print ( len(quotes_Tesla))
for i in range (20):
    print (i)
    date = quotes_Tesla.iloc[i,:]['date'][0:10]
    company = compare('Tesla',date,Company_Tesla)
    frame = [data, company]
    data = pd.concat(frame)

2208
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

,Name,Date,Close,Volume,MarketCap,Popularity,Elon,compare
0,Microsoft,2015-10-09,42.505257,28600632.0,3.201313e+11,29,0,Apple
1,IBM,2015-10-09,114.527473,3531007.0,1.023329e+11,3,0,Apple
2,Samsung,2015-10-09,252.717194,9900000.0,1.508666e+12,100,0,Apple
3,Dell,2015-10-09,42.173302,0.0,1.170680e+10,15,0,Apple
4,Apple,2015-10-09,109.025017,52766140.0,1.819366e+12,54,1,None
...,...,...,...,...,...,...,...,...
0,Toyota,2015-09-30,98.086838,235100.0,1.371234e+11,83,0,Tesla
1,BMW,2015-09-30,59.269119,1875836.0,3.567971e+10,100,0,Tesla
2,VolksWagen,2015-09-30,82.760880,3846075.0,1.706571e+10,50,0,Tesla
3,General Motors,2015-09-30,24.518764,18931872.0,3.556863e+10,2,0,Tesla
4,Tesla,2015-09-30,248.399994,4929582.0,2.392912e+11,46,1,None

In [22]:
data.to_csv('Data/ObservationalDat.csv.bz2')

In [25]:
dates = quotes_Tesla['date'].unique()
print (len(dates))

1871

In [26]:
for i in range (1000):
    print (i)
    date = quotes_Tesla.iloc[i+20,:]['date'][0:10]
    company = compare('Tesla',date,Company_Tesla)
    frame = [data, company]
    data = pd.concat(frame)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

KeyError: 'sharesOutstanding'

In [27]:
data

,Name,Date,Close,Volume,MarketCap,Popularity,Elon,compare
0,Microsoft,2015-10-09,42.505257,28600632.0,3.201313e+11,29,0,Apple
1,IBM,2015-10-09,114.527473,3531007.0,1.023329e+11,3,0,Apple
2,Samsung,2015-10-09,252.717194,9900000.0,1.508666e+12,100,0,Apple
3,Dell,2015-10-09,42.173302,0.0,1.170680e+10,15,0,Apple
4,Apple,2015-10-09,109.025017,52766140.0,1.819366e+12,54,1,None
...,...,...,...,...,...,...,...,...
0,Toyota,2015-10-23,105.162323,215200.0,1.470148e+11,83,0,Tesla
1,BMW,2015-10-23,70.301224,1213819.0,4.232099e+10,100,0,Tesla
2,VolksWagen,2015-10-23,91.765945,792426.0,1.892260e+10,31,0,Tesla
3,General Motors,2015-10-23,29.362068,18277800.0,4.259467e+10,1,0,Tesla
4,Tesla,2015-10-23,41.818001,21177500.0,4.028453e+10,15,1,None

In [28]:
data.to_csv('Data/ObservationalDat.csv.bz2')

In [ ]:
for i in range (1000):
    print (i)
    date = quotes_Tesla.iloc[i+36,:]['date'][0:10]
    company = compare('Tesla',date,Company_Tesla)
    frame = [data, company]
    data = pd.concat(frame)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
data

In [ ]:
data.to_csv('Data/ObservationalDat.csv.bz2')

In [ ]:
for i in range (1000):
    print (i)
    date = quotes_Tesla.iloc[i+20,:]['date'][0:10]
    company = compare('Tesla',date,Company_Tesla)
    frame = [data, company]
    data = pd.concat(frame)

In [9]:
#Twitter : 
Company_Twitter = ['Google','Facebook','Snapchat','Pinterest']
quotes_Twitter = elon_org_df[elon_org_df['ORG']== 'Twitter']
print (len(quotes_Twitter))
for i in range (len(quotes_Twitter)):
    print (i)
    date = quotes_Twitter.iloc[i,:]['date'][0:10]
    company = compare('Twitter',date,Company_Twitter)
    frame = [data, company]
    data = pd.concat(frame)

64
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

KeyError: 'sharesOutstanding'

In [11]:
#Ford : 
Company_Ford = ['Toyota','Fiat','General Motors','Stellantis']
quotes_Ford = elon_org_df[elon_org_df['ORG']=='Ford']
print (len(quotes_Ford))
for i in range (len(quotes_Ford)):
    print (i)
    date = quotes_Ford.iloc[i,:]['date'][0:10]
    company = compare('Ford',date,Company_Ford)
    frame = [data, company]
    data = pd.concat(frame)

62
0

KeyError: 'sharesOutstanding'

In [15]:
#Paypal :
Company_PayPal = ['Western Union','EuroNet','MoneyGram','Payoneer']
quotes_PayPal = elon_org_df[elon_org_df['ORG']== 'PayPal']
print ( len(quotes_PayPal))
for i in range (len(quotes_PayPal)):
    print (i)
    date = quotes_PayPal.iloc[i,:]['date'][0:10]
    company = compare('PayPal',date,Company_PayPal)
    frame = [data, company]
    data = pd.concat(frame)

20
0

TypeError: unsupported operand type(s) for *: 'NoneType' and 'float'

In [ ]:
data

In [ ]:
#Propensity score : 
def add_propensityscore (companies, date):#so that if we want to change only the first line don't have to do it
    #With a column of one and zero if elon musk talked about you 
    #company = company_quote.extend(controled)
    data = compareCompanies(company,date)
    #Normalise the features 
    data['Close'] = (data['Close'] - data['Close'].mean())/lalonde_data['Close'].std()
    data['Volume']= (data['Volume']-data['Volume'].mean())/data['Volume'].std()
    data['MarketCap']= (data['MarketCap']-data['MarketCap'].mean())/data['MarketCap'].std()
    data['Popularity']= (data['Popularity']-data['Popularity'].mean())/data['Popularity'].std()
    #Create the model
    mod = smf.logit(formula='elon ~ Close+ Volume + MarketCap + Popularity', data=data)
    res = mod.fit()
    data['Propensity_score'] = res.predict()

In [ ]:
def get_similarity(propensity_score1, propensity_score2):
    '''Calculate similarity for instances with given propensity scores'''
    return 1-np.abs(propensity_score1-propensity_score2)

In [ ]:
def matching(companies):
    treatment_df = data[data['elon'] == 1]
    control_df   = data[data['elon'] == 0]
    # Create an empty undirected graph
    G = nx.Graph()
    # Loop through all the pairs of instances
    for control_id, control_row in control_df.iterrows():
        for treatment_id, treatment_row in treatment_df.iterrows():
            if (controle_row['compare']== treatment_id) and (controle_row['date']== treatment_row['date']) : 
                # Calculate the similarity 
                similarity = get_similarity(control_row['Propensity_score'],
                                    treatment_row['Propensity_score'])
                # Add an edge between the two instances weighted by the similarity between them
                G.add_weighted_edges_from([(control_id, treatment_id, similarity)])
    # Generate and return the maximum weight matching on the generated graph
    matching = nx.max_weight_matching(G)
    return matching

In [ ]:
matching = matching(data)
matched = [i[0] for i in list(matching)]+ [i[1]for in list(matching)]
balanced = data.iloc[matched]

## After matching :